<h1>Recipe Search</h1>
<p>Search for a recipe below...</p>

<!-- when we submit, info goes to /results route -->
<form action="/results" method="GET">
    <label for="search">Search Movie</label>
    <input type="text" id="search" name="search">
    <label for="search">Search Actor/Actress</label>
    <input type="text" id="search" name="search">
    <button type="submit">Search</button>
</form>