<h1>Results</h1>
<form method="get" action="/recipes/search">
    <button type="submit">Back to Search</button>
</form>

<form method="get" action="/">
    <button type="submit">Back to Homepage</button>
</form>