<h1>Search Page</h1>
<form method="GET" action="/recipes/results">
    <input type="text" id="search" name="search" value=" ">
    <button type="submit">Search</button>
</form>
<a class="btn btn-primary" href="/">Back to Homepage</a>
