<h1>Recipe</h1>

<h2><%= recipe.name %> </h2>
<h2><%= recipe.description %> </h2>

<a class="btn btn-primary" href="/recipes/search">Search for Recipe</a>

<a class="btn btn-primary" href="/recipes">My recipes</a>